{% extends 'base.html.twig' %}

{% block body %}
    
	{{ parent() }}

	<div class="col-lg-11 m-auto">
		<h1>ABOUT US</h1>

		<div class="col-lg-11 m-auto">

			<h2></h2>

			<div class="col-lg-11 m-auto">
				<p>

				</p>
			</div> <!--End col-lg-11 -->

			



	  </div> <!--End col-lg-11 -->
	</div> <!--End col-lg-11 -->

{% endblock %}