{% extends 'base.html.twig' %}

{% block body %}
    
	{{ parent() }}

	<div class="col-lg-11 m-auto">
		<h1>ADD NEW TEAM MEMBER</h1>

		<div class="col-lg-10 m-auto">  
	  	{{ form(form) }}
	  </div>
	</div>

{% endblock %}


