{% extends 'base.html.twig' %}

{% block body %}
    
	{{ parent() }}

	<div class="col-lg-11 m-auto">
		<h1>CONTACT US</h1>

		<div class="col-lg-11 m-auto">

			<h2>KIDS EMPOWERMENT</h2>

			<div class="col-lg-11 m-auto">
				<p>
					9 rue du colonel Combes<br/>
					75 007 Paris<br/>
					Tél : +33 (0) 9 53 29 14 16<br/>
				</p>
			</div> <!--End col-lg-11 -->

			<hr>
			
			<h2>SOCIAL MEDIA</h2>
			
			<div class="col-lg-11 m-auto">
				
			</div>

			<hr>
			
			<h2>SEND US A MESSAGE</h2>
			
			<div class="col-lg-11 m-auto">
				
			</div>


	  </div> <!--End col-lg-11 -->
	</div> <!--End col-lg-11 -->

{% endblock %}