{% extends 'base.html.twig' %}

{% block body %}
    
	{{ parent() }}

	<div class="col-lg-11 m-auto">
		<h1>LEGAL NOTICES</h1>

		<div class="col-lg-11 m-auto">

			<h2>SIEGE SOCIAL</h2>

			<div class="col-lg-11 m-auto">
				<p>
					9 rue du colonel Combes<br/>
					75 007 Paris<br/>
				</p>
			</div> <!--End col-lg-11 -->

			<hr>
			
			<h2>REPRESENTANT LEGAL</h2>
			
			<div class="col-lg-11 m-auto">
				<p>
					Caroline NEWMAN<br/>
				</p>				
			</div>

			<hr>
			
			<h2>IMMATRICULATION</h2>
			
			<div class="col-lg-11 m-auto">
				<p>
					Numéro de SIREN : 821 326 824<br/>
					Code APE : 9499Z<br/>
					Immatriculation au Répertoire National des Associations (RNA) sous le numéro : W751234672<br/>
				</p>				
			</div>

			<hr>
			
			<h2>HEBERGEUR DU SITE</h2>
			
			<div class="col-lg-11 m-auto">
				<p>
					1&1 Internet SARL<br/>
					7 place de la Gare<br/>
					BP 70 109<br/>
					57 201 Sarreguemines Cedex<br/>
				</p>				
			</div>




	  </div> <!--End col-lg-11 -->
	</div> <!--End col-lg-11 -->

{% endblock %}