{% extends 'base.html.twig' %}

{% block body %}
    
	{{ parent() }}

	<div class="col-lg-11 m-auto">
		<h1>WHAT WE DO</h1>

		<div class="col-lg-11 m-auto">

			<h2>VISION AND MISSION</h2>

			<div class="col-lg-11 m-auto">
				<p>
					Kids Empowerment aims at the compliance of States with international law related to children and youth (0-25 year old) and most particularly the principles of the UNCRC and its Optional Protocols.<br/>
					Its objectives are the full realization of the development and potential of children and youth by full compliance with international law and best practice through:<br/>
				</p>

				<ul>
					<li><strong>Facilitating</strong> educational activities amongst children and youth to empower them and assist them in asserting their human rights;</li>
					<li><strong>Raising</strong> awareness in the general population on the rights of children;</li>
					<li><strong>Developing</strong> tools and policies to enable children and youth to thrive in their chosen environment;</li>
					<li><strong>Carrying out and publishing</strong> research and comparative studies; highlighting best practices relating to the treatment of children and youth;</li>
					<li><strong>Providing</strong> technical assistance to relevant stakeholders aimed at improving compliance with international law and best practice;</li>
					<li><strong>Advocacy</strong> on issues involving the rights of the child at national and international level.</li>
				</ul>

				<p>
					To carry out its activities, the organization relies on the expertise and knowledge of professionals in the area of child rights – educators, social workers, lawyers, public administration specialists and others.
				</p>
			</div> <!--End col-lg-11 -->

			<hr>
			
			<h2>PROGRAMS</h2>
			
			<div class="col-lg-11 m-auto">
				<p>
					For the period 2016-2020, the organization considers that the situation of children on the move and youth migrants is a serious issue in Europe and elsewhere. The fundamental rights and principles of children, as established under international law, are often not respected. Lack of information, awareness and agency leads to further discrimination and neglect. The respect of basic principles established under international law is vital for the development of children into responsible, engaged and accomplished citizens. It is essential that all measures be taken to enable their full development and potential and to facilitate their integration in their new country. All programs for that period will address the rights of migrant children worldwide.
				</p>
			</div>

	  </div> <!--End col-lg-11 -->
	</div> <!--End col-lg-11 -->

{% endblock %}